<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#FollowtheMoneyCO</title>
    <link rel="stylesheet" href="/static/ftm.css">

</head>

<body>

<h1>Using SQL</h1>
<p>FollowtheMoneyCO is a joint project of the media collaborative COLab and the Colorado Sun, funded by the Colorado Media Project and the Colorado Sun.</p>

<p>The project aims to make Colorado campaign finance data more accessible to journalists and the public using downloadable data from the Colorado Secretary of State’s TRACER. </p>

<p>Datasette, software designed by Stanford University Knight fellow <a href="https://simonwillison.net/" target="blank">Simon Willison</a>, is the foundation for this site. It uses SQLite, database software that uses structured query language to interviewthe data.</p>

<p>Here's how it works. First select a column such as city.</p>

<p>Then select an operator. The = will match exactly, the != will get everything that doesn't match exactly. Contains, ends with or starts with may be the most valuable operaters, especially with names. Use the more than, less than, etc. on contribution amounts.</p>

<p>Select a search term in the third column. This column is case sensitive, so searching for denver will return nothing. While Denver will return results.</p>

<p>You may search by multiple columns, such as committee names and amounts over 10,000.</p>

<p>You may also create custom queries. Here's one that selects contributors from the education candidate contribution table, the sum of contributions for that donor, ordered by the sum descending.</p>
<p>select contributor, sum(contribution_amount) as sum</p>
<p>from ed_cand_cont </p>
<p>group by contributor</p>
<p>order by sum desc</p>

<p><a href="https://a-gentle-introduction-to-sql.readthedocs.io/en/latest/index.html" target="blank">This is a good tutorial on SQL.</a></p>

<p>Search results may be downloaded as a CSV (best for using a spreadsheet) or json file. If you're saving as a CSV, it's best to go to the "advanced" export and click on "download file."</p>

<p>Questions? Suggestions? email fish(at)coloradomediaproject.com</p>

</body>
</html>
