body {
    margin: 1;
    padding: 1;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.bd {
    margin: 0 1em;
}
table {
    border-collapse: collapse;
}
td {
    border-top: 1px solid #aaa;
    border-right: 1px solid #eee;
    padding: 4px;
    vertical-align: top;
}
td.col-link {
    font-weight: bold;
}
td em {
    font-style: normal;
    font-size: 0.8em;
    color: #aaa;
}
th {
    padding-right: 1em;
}
table a:link {
    text-decoration: none;
    color: #445ac8;
}
table a:visited {
    color: #8f54c4;
}
.small-screen-only,
.select-wrapper.small-screen-only {
    display: none;
}
@media only screen and (max-width: 576px) {
    .small-screen-only {
        display: initial;
    }
    /* Force table to not be like tables anymore */
    table.rows-and-columns,
    .rows-and-columns thead,
    .rows-and-columns tbody,
    .rows-and-columns th,
    .rows-and-columns td,
    .rows-and-columns tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .rows-and-columns thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .rows-and-columns tr {
        border: 1px solid #ccc;
        margin-bottom: 1em;
    }

    .rows-and-columns td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        padding: 0;
        padding-left: 10%;
    }

    .rows-and-columns td:before {
        display: block;
        margin-left: -10%;
        font-size: 0.8em;
    }
}

.hd {
    border-bottom: 2px solid #ccc;
    padding: 0.2em 1em;
    background-color: #eee;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 2rem;
}
.hd p {
    margin: 0;
    padding: 0;
}
.hd .crumbs {
    float: left;
}
.ft {
    margin: 1em 0;
    padding: 0.5em 1em 0 1em;
    border-top: 1px solid #ccc;
    font-size: 0.8em;
}
.hd :link {
    text-decoration: none;
}

.db-table p {
    margin-top: 0;
    margin-bottom: 0.3em;
}
.db-table h2 {
    margin-top: 1em;
    margin-bottom: 0;
}

h2 em {
    font-style: normal;
    font-weight: lighter;
}